*.class

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
*.idea/
*.iml
*.classpath
*.settings
*.project
*.zedstate
*.sublime-*

# Gradle Ignores #
.gradle

# Logs #
*.logs
*.log

target/
bin/
test-output/